.link {
  display: inline-block;
  padding: 1.3125rem 3.125rem;
  background: #e90101;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 6px;
  animation: increase-size 1s infinite alternate;
}
@keyframes increase-size {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@media (max-width: 500px) {
  .link {
    display: block;
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }
}
