.container {
  padding: 3rem 0;
}
.innerContainer {
  width: 100%;
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}
@media (max-width: 800px) {
  .innerContainer {
    flex-direction: column;
  }
  .containerLeft {
    margin: 0 auto;
    order: 1;
  }
}
.containerLeft {
  border: 1px solid #e90101;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
}
.containerLeft h2 {
  color: #e90101;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.containerLeft P {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  max-width: 414px;
}
.containerLeft h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.containerLeft h3 span {
  color: #e90101;
  font-weight: 700;
}
.containerLeft a {
  display: inline-flex;
  padding: 1rem 3rem;
  background: #e90101;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}
.containerRight img {
  display: block;
  margin: 0 auto;
}
.containerRight p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  max-width: 414px;
  text-align: center;
  margin: 1rem auto 0;
}
